body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #ffffff;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  max-width: 1600px;
  min-width: 1600px;
}

.invisible-h1{
  opacity: 0;
  position: absolute;
  width:1px;
  height:1px;
}

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto-Regular.ttf");
}

a {
  text-decoration: none;
  color: #ffffff;
}

button, 
button:active, 
button:focus {
    outline: none;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-transform: uppercase;
  width: 184px;
  height: 46px;
  background: #00afdb;
}

.button:hover{
  background: #009CC2;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  top: -323px;
  left: -26px;
}

header ul {
  display: flex;
  list-style: none;
}

header ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 43px;
}

header ul li a:hover {
  opacity: 0.5;
}

header ul li img {
  margin: 0 15px !important;
}
.disabled {
  border-bottom: 1px #ffffff solid;
  font-weight: 500;
}
.enabled {
  opacity: 0.8;
  font-weight: 100;
}

.yl {
  background: url("assets/your-life-bg.png") no-repeat center;
  width: 100%;
  height: 744px;
  display: flex;
  justify-content: center;
}
.yl-h {
  width: 750px;
  height: 75px;
  left: 429px;
  font-weight: 900;
  font-size: 63px;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: 5.4px;
  position: absolute;
  text-align: center;
  top: 167px;
}

.yl-p {
  position: absolute;
  top: 308px;
  width: 504px;
  height: 50px;
  text-align: center;
  font-size: 18px;
  line-height: 140%;
  opacity: 0.9;
}

.yl-b {
  top: 406px;
}

.yl-icons {
  position: absolute;
  top: 634px;
}

.yl-icons a {
  margin: 0 13px;
}

.yl-icons a:hover{
  opacity: 0.5;
}

.rapp {
  display: flex;
  position: relative;
  height: 842px;
}

.rapp-img {
  position: absolute;
  width: 407px;
  height: 582px;
  top: 120px;
  right: 269px;
}

.rapp-left {
  position: relative;
  width: 407px;
  height: 257px;
  left: 270px;
  top: 272px;
}

.rapp-h {
  position: absolute;
  width: 380px;
  height: 57px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #373737;
}

.rapp-p {
  position: absolute;
  width: 407px;
  height: 80px;
  left: 0px;
  top: 87px;
  font-size: 14px;
  line-height: 20px;
  color: #4e4e4e;
}

.rapp-b {
  position: absolute;
  left: 0;
  bottom: 0;
}

.community {
  position: relative;
  height: 504px;
  background: #f5f6f7;
  color: #4e4e4e;
}
.community-left-block {
  position: absolute;
  text-align: center;
  width: 298px;
  height: 175px;
  left: 270px;
  top: 154px;
}
.community-h {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
}
.community-p {
  position: relative;
  line-height: 20px;
  font-size: 14px;
  top: -5px;
}

.slider {
  position: relative;
  left: 679px;
  top: 120px;
}
.slides * {
  margin-left: 27px;
}

.arrow {
  position: absolute;
  width: 7px;
  height: 7px;
  border-top: 2px solid #4e4e4e;
  border-right: 2px solid #4e4e4e;
  margin-top: 6px;
}
.arrow:hover{
  opacity: 0.5;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(-135deg);
}

.arrow-right {
  transform: rotate(45deg);
  right: 0;
}

.slider-control {
  display: flex;
  position: absolute;
  width: 79px;
  height: 20px;
  left: 571px;
  top: -40px;
}

.control-position {
  width: 79px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 140%;
}
.control-position *{
  margin: 0 2px;
}

.implement {
  position: relative;
  height: 842px;
}

.implement-right-block{
  position: absolute;
  width: 407px;
  height: 209px;
  left: 817px;
  top: 294px;
}

.implement img{
  position: absolute;
  left: 269px;
  top: 120px;
}

.implement-h{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.implement-p{
  position: absolute;
  top: 60px;
  left: -1px;
  color: #4E4E4E;
  line-height: 20px;
}

.implement-b{
  position: absolute;
  bottom: 0;
  width: 180px;
  left: -2px;
}

.subscribe {
  position: relative;
  height: 524px;
  background: url("assets/subscribe-bg.png");
}

.subscribe-content{
  position: absolute;
  width: 415px;
  height: 104px;
  left: 597px;
  top: 176px;
}

.subscribe-p{
  position: absolute;
  font-weight: bold;
  left: 13px;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.15px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscribe form{
  position: absolute;
  top: 82px;
  width: 406px;
  height: 46px;
}

.subscribe form input{
  width: 292px;
  height: 40px;
  padding: 3px 24px;
  border: 0;
}

.subscribe form input:focus{
  box-shadow: 0 0 5px inset #007bc2;
  outline: 0;
}

.subscribe form button{
  position: absolute;
  width: 66px;
  height: 46px;
  border: 0;
  right: 0px;
  top: 0px;
  background: #00AFDB;
}

.subscribe form button:hover{
  background: #009CC2;
  cursor: pointer;
}

.subscribe form button img{
  margin-top: 3px;
  margin-left: 1px;
}

.subscribe form button img:hover{
  opacity: 0.8;
}

.download {
  position: relative;
  height: 464px;
  background: #F5F6F7;
}


.download-content{
  position: absolute;
  width: 470px;
  left: 565px;
  top: 96px;
  color: #373737;
  text-align: center;
}

.download-h{
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

.download-p{
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-top: -3px;
  color: #4E4E4E;
}

.download-link{
  position: absolute;
  width: 186px;
  height: 46px;
}

.download-link a{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  width: 126px;
  height: 46px;
  background: #00AFDB;
}

.download-link a:hover{
  background: #009CC2;
  cursor: pointer;
}

.download-link div{
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 46px;
  background: #009CC2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.apple{
  margin-left: 34px;
  margin-top: 15px;
}

.android{
  left: 250px;
  margin-top: 15px;
}

footer{
  position: relative;
  height: 184px;
  background: #000000;
}

footer ul{
  position: absolute;
  top: 60px;
  left: 110px;
  display: flex;
  list-style: none;
}

footer ul li{
  margin: 0 9.7px;
}

footer ul li a:hover{
  opacity: 0.5;
}

.menu-items-divider{
  font-size: 9px;
  opacity: 0.5;
}

footer img{
  display: block;
  position: relative;
  margin: 0 auto;
  top: 60px;
}

footer span{
  position: absolute;
  color: #818181;
  right: 160px;
  top: 74px;
}